<div class="login-wrapper">
    <nb-card>
        <nb-card-body>
            <div class="login">
                <div class="login__title">
                    <h2>Forgot password</h2>
                    <h4>If you forgot password you can remind the password.</h4>
                </div>
                <form [formGroup]="form">

                    <nb-form-field>

                        <nb-icon nbPrefix
                                 icon="at-outline"
                                 pack="eva"></nb-icon>
                        <input type="text"
                               fullWidth
                               formControlName="email"
                               placeholder="Email"
                               nbInput>

                    </nb-form-field>
                    <button nbButton
                            class="login__button"
                            (click)="onSubmit()"
                            fullWidth
                            status="primary">Reset password</button>

                </form>
                <section class="login__register">
                    Do you want sign in?
                    <a class="login__register-button"
                       routerLink="/auth/login">Sign In</a>
                </section>
            </div>
        </nb-card-body>
    </nb-card>
</div>