<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" TODO: Implement
          outline="danger"
          role="alert">
       <p class="alert-title"><b>Oh snap!</b></p>
       <ul class="alert-message-list">
              <li *ngFor="let error of errors"
                  class="alert-message">{{ error }}</li>
       </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted"
          outline="success"
          role="alert">
       <p class="alert-title"><b>Hooray!</b></p>
       <ul class="alert-message-list">
              <li *ngFor="let message of messages"
                  class="alert-message">{{ message }}</li>
       </ul>
</nb-alert> -->

<div class="login-wrapper">
    <nb-card>
        <nb-card-body>
            <div class="login">
                <div class="login__title">
                    <h2>Forgot password</h2>
                    <h4>If you forgot password you can remind the password.</h4>
                </div>
                <nb-form-field>
                    <nb-icon nbPrefix
                             icon="at-outline"
                             pack="eva"></nb-icon>
                    <input type="text"
                           fullWidth
                           placeholder="Email"
                           nbInput>
                </nb-form-field>
                <button nbButton
                        class="login__button"
                        fullWidth
                        status="primary">Reset password</button>

                <section class="login__register">
                    Do you want sign in?
                    <a class="login__register-button"
                       routerLink="/auth/login">Sign In</a>
                </section>
            </div>
        </nb-card-body>
    </nb-card>
</div>