.home {
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1200px) {
      flex-direction: column;
    }

    > nb-card {
      max-width: 30%;
    }
  }

  &__card {
    display: flex;

    h3 {
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 0;
    }

    h4 {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0;
    }

    &-body {
      min-width: 10rem;
    }
    &-icon {
      position: absolute;
      right: 1rem;
      nb-icon {
        font-size: 3rem;
      }
    }
  }

  &__charts {
    width: 100%;
  }

  &__data-grid {
    button {
      background: transparent;
      border: none;
      padding: 0;
    }

    .nb-column-name nb-icon {
      vertical-align: bottom;
    }
  }
}
