<div class="home">
    <div class="home__cards">
        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>2000 <span>&#36;</span></h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard
                            dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="credit-card-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>150 <span>&#8364;</span></h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard
                            dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="alert-circle-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>900 <span>&#163;</span></h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard
                            dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="archive-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="home__charts">
        <nb-card>
            <nb-card-body>
                <nb-tabset fullWidth
                           (changeTab)="tabChange()">
                    <nb-tab tabTitle="Income">
                        <div echarts
                             class="home__chart"
                             [options]="options2"></div>
                    </nb-tab>
                    <nb-tab tabTitle="Outcome">
                        <div echarts
                             class="home__chart"
                             [options]="options"></div>
                    </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>
    </div>
</div>