<div class="home">
    <div class="home__cards">
        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>1999 <span>USD</span></h4>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="credit-card-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>2000 <span>USD</span></h4>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="credit-card-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <div class="home__card">
                    <div class="home__card-body">
                        <h3>Income: </h3>
                        <h4>2001 <span>USD</span></h4>
                    </div>
                    <div class="home__card-icon">
                        <nb-icon icon="credit-card-outline"></nb-icon>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="home__charts">
        <nb-card>
            <nb-card-body>
                <div echarts
                     [options]="options"
                     class="demo-chart"></div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-body>
                <div echarts
                     [options]="options2"
                     class="demo-chart"></div>
            </nb-card-body>
        </nb-card>

    </div>


</div>