@use '../../../../sass/theme/theme' as *;
@import '../../../../sass/abstracts/variables';
:host {
  max-width: 40rem;
  margin: auto;
  align-self: center;
  align-content: center;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 600px; //TODO: change to rem
  margin: auto;

  nb-card {
    flex: 1;
  }

  .login {
    & > *:not(.login__button) {
      margin: 1rem auto 1rem auto;
    }

    .login__button {
      margin: 1rem auto 0rem auto;
    }

    &__title {
      text-align: center;
      h2 {
        margin-bottom: 0;
      }

      h4 {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 0.8rem;
        color: $color-grey-dark-2;
      }
    }

    &__register {
      text-align: center;
      font-size: 0.8rem;
      color: $color-grey-dark-2;
    }

    &__register-button {
      color: nb-theme(color-primary-500);
    }
  }
}
