.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 49%;

    @media only screen and (max-width: 1400px) {
      flex: 0 0 100%;
    }
  }
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  display: block;
  word-wrap: break-word;
}
